*{
    
    margin: 0px;
    padding: 0px;

    background-color: black;  
    
}
.container{
    width: 100vw;
    

}
.header{
    position: relative;
    background-color: black;
    font-family: sans-serif;
    font-size: small;
    margin-left: 4px;
    margin-top: 2px;
    width: 100vw;
    border-bottom: 5px solid gray ;
}
.header:hover{
    border: 2px solid rgb(247, 1, 214);  
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
}
nav h2{
    color: white;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
   
}
nav ul li{
 list-style: none;
 margin: 10px;
 width: 75px;
 border-bottom: 2px solid black;
 text-align: center;
 padding-top: 5px;
 
}
nav  ul li a{
    text-decoration: none;
    text-transform: u;
    color: white;
    
}

nav  ul li:hover{
    border: 2px solid rgb(247, 1, 214); 
    margin: 5px;
    text-overflow: none;
}
.main{
    position: relative;
    width: 100vw;
}
.Business{
    position: relative;
    /* margin: 0px; */
    height: 685px;
    width: 0100vw;
    /* border: 1px solid pink;(for box m.ment) */
    background-color:black;
}
.info{
   
    position: relative;
    /* margin: 0px; */
    height: 800px;
    width: 100vw;
    /* border: 1px solid black; */
    background-color: white;

}
.servicecards{
    position: relative;
    /* margin: 0px; */
    height: 800px;
    width: 100vw;
    /* border: 1px solid black; */
    background-color: blue;
    
    }
.footer{
    
    position: relative;
        /* margin: 0px; */
        height: 800px;
         width: 100vw;
        
        border: 1px solid white;
        background-color: black;
        /*  */
         /*  */
         align-items: center;
         justify-content: space-around ;

    
    }
   
 .form{ 
    display: grid;
    /* margin: 50px; */
    /* padding: 100px; */
    height-top: 500px;

    /* margin: 5px; */
    /* border: 1 px solid white; */
    position: relative; */
    align-items: center;
    justify-content: space-around ;
   
    
 } 
  h1{
    position: relative;
    color: white;
    margin: 10px;
    padding: 50px 20px 80px 20px;
    height: 50px;
    width: 1300px;
    text-align: center;
    /* border: 1px solid white; */
    font-size: ;
 }
.box{
    margin: 10px;
    padding: 20px;
    height: 20px;
    width: 70vw;
    text-align: left;
    border: 1px solid white;
 }
 #button{
    color: black;
    background-color: white;
    text-align: left;
    padding: 5px;
    text-align: center;
    padding: 20px 20px 35px 20px;
    height: 20px;
    width: 200px;
 }
 #button:hover{
    border: 2px solid blueviolet;
    cursor: pointer;
 }